
.container{
    background: #dce0e5;
    border: 1px solid #778899;
    border-radius: 10px;
    color: #3c5e71;
    margin-bottom: 5em;
    justify-content: center;
    width: 100%;
}

.search-summary p{
    font-size: 2em;
    background: #dce0e5;
    color: #3c5e71;
}


.filters{
    background: rgb(245,245,245);
}

.business-image{
    border-radius: 10px;
    padding: 2em;
}

.search-results{
    padding: 10em;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: 100%;
}

.business-info h2{
    font-size: 1em;
    color: #778899;
}

.business-info p{
    background-color: #dce0e5;
    color: #3c5e71;
}

