
.search-summary p{
    font-size: 2.2em;
    background-color: #dce0e5;
    color: #3c5e71;
}



.container{
    background: #dce0e5;
    border: 1px solid #778899;
    border-radius: 10px;
    color: #3c5e71;
    margin-bottom: 3em;
    justify-content: center;
    width: 100%;
}




h2{
 font-size: 1.5em;
 margin-left: 10px;
    color: #659DBD;
}

div{
    margin: .5em;
    
    
    
}

